<center>
    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/medcl/book-elastic-search-in-action/archive/master.zip" data-icon="octicon-cloud-download" aria-label="Download Elastic 搜索开发实战 on GitHub">Download</a>

    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/medcl/book-elastic-search-in-action" data-icon="octicon-star" data-show-count="true" aria-label="Star Elastic 搜索开发实战 on GitHub">Star</a>

    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/medcl/book-elastic-search-in-action/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork Elastic 搜索开发实战 on GitHub">Fork</a>

</center>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

Copyright © Medcl. 未经许可,谢绝转载.
